<template>
  <div v-if="botanist" class="q-pa-md">
    <q-card class="my-card">
      <q-card-section>
        <div class="text-h6 q-mb-lg">Details du Botaniste</div>
        <div class="row justify-start items-center q-mb-lg">
          <!-- _______________ Photo __________________-->
          <div class="relative-position col-auto">
            <q-img
              v-if="botanist.profilePicture"
              :src="botanist.profilePicture"
              alt="Botanist Photo"
              style="width: 100px; height: 100px; border-radius: 50%"
            />
            <img
              v-else
              src="~/src/assets/user.png"
              alt="Photo"
              style="width: 100px; height: 100px; border-radius: 50%"
            />
            <q-btn
              round
              icon="delete"
              color="secondary"
              @click="deletePhoto(botanist)"
              class="absolute absolute-top-left"
              :style="{ left: '-10px', top: '-10px' }"
              flat
            >
              <q-tooltip anchor="top middle" self="center middle">
                Supprimer photo de profil
              </q-tooltip>
            </q-btn>
          </div>
          <!-- _______________ Comments __________________-->
          <div class="col-auto q-ma-xs">
            <q-btn
              round
              flat
              color="secondary"
              icon="chat"
              @click="goToBotanistComments(botanist.id)"
            >
              <q-tooltip anchor="top middle" self="center middle">
                Voir commentaires
              </q-tooltip>
            </q-btn>
          </div>
          <!-- _______________ Ban __________________-->
          <div class="col-auto q-ma-xs">
            <q-btn
              flat
              round
              color="secondary"
              icon="person_off"
              @click="banBotanist(botanist)"
            >
              <q-tooltip anchor="top middle" self="center middle">
                Bannir botaniste
              </q-tooltip>
            </q-btn>
          </div>
          <!-- _______________ Delete __________________-->
          <div class="col-auto q-ma-xs">
            <q-btn
              flat
              round
              color="secondary"
              icon="delete_forever"
              @click="deleteBotanist(botanist)"
            >
              <q-tooltip anchor="top middle" self="center middle">
                Supprimer botaniste
              </q-tooltip>
            </q-btn>
          </div>
        </div>
        <!-- _______________ Status __________________-->

        <q-toggle
          v-model="botanist.validated"
          :color="getStatusColor(botanist.validated)"
          :label="getStatusText(botanist.validated)"
          keep-color
          checked-icon="check"
          unchecked-icon="clear"
          @update:model-value="handleStatus(botanist, botanist.validated)"
        />
        <!-- _______________ Form __________________-->

        <q-form @submit="submitForm">
          <q-input
            disable
            v-model="botanist.id"
            label="Id"
            outlined
            class="q-mb-md"
          />
          <q-input
            disable
            v-model="botanist.pseudo"
            label="Pseudo"
            outlined
            class="q-mb-md"
          />
          <q-input
            disable
            v-model="botanist.email"
            label="Email"
            outlined
            class="q-mb-md"
          />

          <q-btn v-show="false" type="submit" label="Enregistrer" color="" />
        </q-form>
      </q-card-section>
    </q-card>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { BotanistInterface } from '../../interfaces/botanistInterface';
import botanistService from '../../services/botanistService';
import notifyUtil from '../../utils/notifyUtil';
import dialogUtil from '../../utils/dialogUtil';

const botanist = ref<BotanistInterface>();
const router = useRouter();
const route = useRoute();
const idBotanist = Number(route.params.id);

function redirectToBotanistsPage() {
  router.replace({
    name: 'Botanists',
  });
}

const getBotanistById = async (idBotanist: number) => {
  try {
    console.log('response');
    const response = await botanistService.getBotanistById(idBotanist);
    console.log(response);
    botanist.value = response;
    console.log(botanist);
  } catch (error) {
    notifyUtil.notifyError('Aucun botaniste trouvé');
    console.error('Error:', error);
  }
};

getBotanistById(idBotanist);

const deletePhoto = async (botanist: BotanistInterface) => {
  dialogUtil
    .createConfirmationDialog(
      `Voulez-vous supprimer la photo de ${botanist.pseudo}?`
    )
    .onOk(async () => {
      try {
        await botanistService.deletePhoto(botanist.id);
        notifyUtil.notifySuccess(
          `Photo botaniste ${botanist.pseudo} supprimé `
        );
      } catch (error) {
        notifyUtil.notifyError(
          `Erreur, Photo botaniste ${botanist.pseudo} non supprimé`
        );
        console.error('Error:', error);
      }
      getBotanistById(botanist.id);
    });
};

const banBotanist = async (botanist: BotanistInterface) => {
  dialogUtil
    .createConfirmationDialog(`Voulez-vous bannir ${botanist.pseudo}?`)
    .onOk(async () => {
      try {
        await botanistService.banBotanist(botanist.id);
        notifyUtil.notifySuccess(
          `Botaniste ${botanist.pseudo} banni `
        );
        redirectToBotanistsPage();
      } catch (error) {
        notifyUtil.notifyError(
          `Erreur, Botaniste ${botanist.pseudo} non banni`
        );
        console.error('Error:', error);
      }
    });
};

const deleteBotanist = async (botanist: BotanistInterface) => {
  dialogUtil
    .createConfirmationDialog(`Voulez-vous supprimer ${botanist.pseudo}?`)
    .onOk(async () => {
      try {
        await botanistService.deleteBotanist(botanist.id);
        notifyUtil.notifySuccess(`Botaniste ${botanist.pseudo} supprimé `);
        redirectToBotanistsPage();
      } catch (error) {
        notifyUtil.notifyError(
          `Erreur, Botaniste ${botanist.pseudo} non supprimé`
        );
        console.error('Error:', error);
      }
    });
};

const handleStatus = async (
  botanist: BotanistInterface,
  newStatus: boolean | null
) => {
  if (newStatus === true) {
    try {
      await botanistService.acceptStatus(idBotanist);
      notifyUtil.notifySuccess(`Botaniste ${idBotanist} accepté `);
    } catch (error) {
      notifyUtil.notifyError(
        `Erreur lors de l'acceptation du botaniste ${idBotanist}`
      );
      console.error('Error:', error);
    }
  } else if (newStatus === false) {
    try {
      await botanistService.refuseStatus(idBotanist);
      notifyUtil.notifySuccess(`Botaniste ${idBotanist} refusé `);
    } catch (error) {
      notifyUtil.notifyError(`Erreur lors du refus du botaniste ${idBotanist}`);
      console.error('Error:', error);
    }
  }
  getBotanistById(botanist.id);
};

const submitForm = () => {
  // Logique pour soumettre le formulaire
};

// __________________ Navigation _______________________

function goToBotanistComments(idBotanist: number) {
  router.push({
    name: 'BotanistComments',
    params: { idBotanist },
  });
}

// __________________ UI _______________________

const getStatusText = (status: boolean | null): string => {
  if (status === true) {
    return 'Accepté';
  } else {
    return 'Non accepté';
  }
  // else {
  //   return 'En attente';
  // }
};

const getStatusColor = (status: boolean | null): string => {
  if (status === true) {
    return 'primary';
  } else {
    return 'secondary';
  }
  // else {
  //   return '';
  // }
};
</script>
