<template>
  <div class="q-pa-md">
    <q-table
      title="Botanistes"
      :rows="botanists"
      :columns="columns"
      row-key="id"
      :filter="filter"
    >
      <template #top-right>
        <q-input
          borderless
          dense
          debounce="300"
          v-model="filter"
          placeholder="Rechercher"
          class="input-search"
        >
          <template #append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <!-- _______________ Photo __________________-->
      <template #body-cell-photo="props">
        <q-td :props="props">
          <img
            v-if="props.row.profilePicture"
            :src="props.row.profilePicture"
            alt="profilePicture"
            style="width: 30px; height: 30px; border-radius: 50%"
          />
          <img
            v-else
            src="~/src/assets/user.png"
            alt="profilePicture"
            style="width: 30px; height: 30px; border-radius: 50%"
          />
        </q-td>
      </template>

      <!-- _______________ STATUS __________________-->
      <template #body-cell-status="props">
        <q-td :props="props">
          <q-toggle
            v-model="props.row.validated"
            :color="getStatusColor(props.row.validated)"
            :label="getStatusText(props.row.validated)"
            keep-color
            checked-icon="check"
            unchecked-icon="clear"
            @update:model-value="
              handleStatus(props.row.id, props.row.validated)
            "
            class="status-toggle"
          />
        </q-td>
      </template>

      <!-- _______________ ACTION __________________-->
      <template #body-cell-action="props">
        <q-td :props="props">
          <!-- edit -->
          <q-btn
            round
            flat
            color="secondary"
            icon="edit"
            @click="goToBotanistEdit(props.row.id)"
          >
            <q-tooltip anchor="top middle" self="center middle">
              Editer
            </q-tooltip>
          </q-btn>
          <!-- comments -->
          <q-btn
            round
            flat
            color="secondary"
            icon="chat"
            @click="goToBotanistComments(props.row.id)"
          >
            <q-tooltip anchor="top middle" self="center middle">
              Voir commentaires
            </q-tooltip>
          </q-btn>
          <!-- ban -->
          <q-btn
            flat
            round
            color="secondary"
            icon="person_off"
            @click="banBotanist(props.row)"
            class="ban-btn"
          >
            <q-tooltip
              class="ban-tooltip"
              anchor="top middle"
              self="center middle"
            >
              Bannir botaniste
            </q-tooltip>
          </q-btn>
          <!-- delete -->
          <q-btn
            flat
            round
            color="secondary"
            icon="delete_forever"
            @click="deleteBotanist(props.row)"
            class="delete-btn"
          >
            <q-tooltip
              class="delete-tooltip"
              anchor="top middle"
              self="center middle"
            >
              Supprimer botaniste
            </q-tooltip>
          </q-btn>
        </q-td>
      </template>
    </q-table>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { QTable } from 'quasar';
import { BotanistInterface } from 'src/interfaces/botanistInterface';
import botanistService from '../../services/botanistService';
import notifyUtil from '../../utils/notifyUtil';
import dialogUtil from '../../utils/dialogUtil';

const router = useRouter();
const botanists = ref<BotanistInterface[]>([]);
const filter = ref('');
const columns: QTable['columns'] = [
  {
    name: 'id',
    label: 'Id',
    field: 'id',
    required: true,
    align: 'left',
    sortable: true,
  },
  {
    name: 'pseudo',
    label: 'Pseudo',
    field: 'pseudo',
    required: true,
    align: 'left',
    sortable: true,
  },
  {
    name: 'email',
    label: 'Email',
    field: 'email',
    required: true,
    align: 'left',
    sortable: true,
  },
  {
    name: 'photo',
    label: 'Photo',
    field: 'photo',
    required: true,
    align: 'center',
    sortable: false,
  },
  {
    name: 'status',
    label: 'Status',
    field: 'status',
    required: true,
    align: 'center',
    sortable: true,
  },
  {
    name: 'action',
    label: 'Action',
    field: 'action',
    required: true,
    align: 'center',
    sortable: false,
  },
];

// __________________ API _______________________

const getBotanists = async () => {
  const response = await botanistService.getBotanists();
  botanists.value = response;
};

getBotanists();

const handleStatus = async (idBotanist: number, newStatus: boolean | null) => {
  if (newStatus === true) {
    try {
      await botanistService.acceptStatus(idBotanist);
      notifyUtil.notifySuccess(`Botaniste ${idBotanist} accepté `);
    } catch (error) {
      notifyUtil.notifyError(
        `Erreur lors de l'acceptation du botaniste ${idBotanist}`
      );
      console.error('Error:', error);
    }
  } else if (newStatus === false) {
    try {
      await botanistService.refuseStatus(idBotanist);
      notifyUtil.notifySuccess(`Botaniste ${idBotanist} refusé `);
    } catch (error) {
      notifyUtil.notifyError(`Erreur lors du refus du botaniste ${idBotanist}`);
      console.error('Error:', error);
    }
  }
  getBotanists();
};

const deleteBotanist = async (botanist: BotanistInterface) => {
  dialogUtil
    .createConfirmationDialog(`Voulez-vous supprimer ${botanist.pseudo}?`)
    .onOk(async () => {
      try {
        await botanistService.deleteBotanist(botanist.id);
        notifyUtil.notifySuccess(`Botaniste ${botanist.id} supprimé `);
      } catch (error) {
        notifyUtil.notifyError(`Erreur, botaniste ${botanist.id} non supprimé`);
        console.error('Error:', error);
      }
      getBotanists();
    });
};

const banBotanist = async (botanist: BotanistInterface) => {
  dialogUtil
    .createConfirmationDialog(`Voulez-vous supprimer ${botanist.pseudo}?`)
    .onOk(async () => {
      try {
        await botanistService.banBotanist(botanist.id);
        notifyUtil.notifySuccess(`Botaniste ${botanist.pseudo} banni `);
      } catch (error) {
        notifyUtil.notifyError(
          `Erreur, botaniste ${botanist.pseudo} non banni`
        );
        console.error('Error:', error);
      }
      getBotanists();
    });
};

// __________________ Navigation _______________________

const goToBotanistEdit = (idBotanist: number) => {
  router.push({
    name: 'BotanistEdit', // Make sure you have the correct name for your route
    params: { id: idBotanist }, // Provide the "id" parameter
  });
};

function goToBotanistComments(idBotanist: number) {
  router.push({
    name: 'BotanistComments',
    params: { id: idBotanist },
  });
}

// __________________ UI_______________________

const getStatusText = (status: boolean | null): string => {
  if (status === true) {
    return 'Accepté';
  } else {
    return 'Non accepté';
  }
  //  else {
  //   return 'En attente';
  // }
};

const getStatusColor = (status: boolean | null): string => {
  if (status === true) {
    return 'primary';
  } else {
    return 'secondary';
  }
  // else {
  //   return '';
  // }
};
</script>
