<template>
  <q-page padding>
    <div v-if="botanist">
      <div class="q-px-lg">
        <h5>Commentaires Botaniste</h5>
        <div class="row items-center justify-between">
          <div
            class="col-9 col-sm-4 col-md-3 text-body1 items-center"
            @click="redirectToBotanistPage(botanist.id)"
          >
            <q-avatar>
              <img
                v-if="botanist.profilePicture"
                :src="botanist.profilePicture"
                alt="botanist Avatar"
              />
              <img v-else src="~/src/assets/user.png" alt="botanist Avatar" />
            </q-avatar>
            <b class="q-px-md">{{ botanist.pseudo }}</b>
          </div>
          <div class="col-3 col-sm-8 col-md-9 q-py-md">
            <q-btn
              color="secondary"
              label="Bannir"
              @click="banBotanist(botanist)"
            />
          </div>
        </div>

        <div class="q-pa-md">
          <q-table
            title="Commentaires"
            :rows="rows"
            :columns="columns"
            row-key="id"
            selection="multiple"
            v-model:selected="selected"
            :filter="filter"
            grid
            hide-header
          >
            <template v-slot:top>
              <div class="col-2 q-table__title">Vue d'Ensemble</div>

              <q-space />

              <div top right>
                <q-input
                  borderless
                  dense
                  debounce="300"
                  v-model="filter"
                  placeholder="Recherche"
                >
                  <div class="search-icon" append>
                    <q-icon name="search" size="sm" />
                  </div>
                </q-input>
              </div>
            </template>

            <template v-slot:item="props">
              <div
                class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
                :style="props.selected ? 'transform: scale(0.95);' : ''"
              >
                <q-card
                  bordered
                  flat
                  :class="
                    props.selected
                      ? $q.dark.isActive
                        ? 'bg-grey-9'
                        : 'bg-grey-2'
                      : ''
                  "
                  ><q-card-section class="q-pb-none">
                    <q-btn
                      icon="edit"
                      @click="redirectToEditComment(idBotanist, props.row.id)"
                    />
                  </q-card-section>
                  <q-card-section>
                    <q-checkbox
                      dense
                      v-model="props.selected"
                      :label="conditionalTruncation(props.row.postTitle)"
                    />
                  </q-card-section>
                  <q-separator />
                  <q-list dense class="q-py-md">
                    <q-item v-for="col in props.cols" :key="col.id">
                      <template
                        v-if="
                          col.label !== 'Commentaire' &&
                          col.label !== 'Titre Annonce'
                        "
                      >
                        <q-item-section>
                          <q-item-label>{{ col.label }}</q-item-label>
                        </q-item-section>
                        <q-item-section side>
                          <q-item-label caption>
                            {{ col.value }}
                          </q-item-label>
                        </q-item-section>
                      </template>
                      <template v-else>
                        <q-item-section class="q-pt-md">
                          <q-item-label>{{ col.label }}</q-item-label>
                          <q-item-label
                            caption
                            class="q-py-sm contain-long-text"
                            >{{ col.value }}</q-item-label
                          >
                        </q-item-section></template
                      >
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-table>

          <div class="q-mt-md row">
            <q-btn
              label="Deselectionner"
              @click="selected = []"
              :disable="selected.length === 0"
              class="q-mr-lg"
            />

            <q-btn
              label="Supprimer Tous"
              color="secondary"
              icon="delete"
              @click="confirm = true"
              :disable="selected.length === 0"
            />
          </div>
        </div>
      </div>

      <q-dialog v-model="confirm" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <q-avatar icon="warning" color="secondary" text-color="white" />
            <span class="q-ml-sm">
              Etes-vous sur de vouloir supprimer les commentaires selectionnes?
              <br />
              Cette action est irreversible.</span
            >
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Annuler" v-close-popup />
            <q-btn
              flat
              label="Supprimer"
              color="secondary"
              @click="eraseSelected"
              v-close-popup
              icon="delete"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<!------------------------------------------------>
<!------------------------------------------------>
<!------------ STYLES SUPPLEMENTAIRES ------------>
<!------------------------------------------------>

<style lang="sass">

.grid-style-transition
  transition: transform .28s, background-color .28s

.search-icon
  display: flex
  justify-content: center
  align-items: center

.contain-long-text
  word-break: break-word
</style>

<!------------------------------------------------>
<!------------------------------------------------>
<!------------------- SCRIPTS -------------------->
<!------------------------------------------------>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import notifyUtil from '../../utils/notifyUtil';
import dialogUtil from '../../utils/dialogUtil';
import { QTable } from 'quasar';
import { DateTime } from 'luxon';

//
//--------------- Services et Interfaces ---------------

import botanistService from '../../services/botanistService';
import { BotanistInterface } from '../../interfaces/botanistInterface';

import commentService from '../../services/commentService';
import { CommentInterface } from '../../interfaces/commentInterface';

//
//--------------- Initialisation des Routes ---------------

const router = useRouter();
const route = useRoute();

function redirectToEditComment(idBotanist: number, idComment: number) {
  router.push({
    name: 'EditComment',
    params: { id: idBotanist, commentId: idComment },
  });
}

function redirectToBotanistsPage() {
  router.replace({
    name: 'Botanists',
  });
}

function redirectToBotanistPage(idBotanist: number) {
  router.push({
    name: 'BotanistEdit',
    params: { id: idBotanist },
  });
}

//
//--------------- Recuperation Utilisateur et ses Annonces ---------------

const idBotanist = Number(route.params.id);

onMounted(() => {
  getBotanistById(idBotanist);
  getBotanistComments(idBotanist);
});

const botanist = ref<BotanistInterface>();
const comments = ref<CommentInterface[]>([]);

const getBotanistById = async (idBotanist: number) => {
  try {
    const response = await botanistService.getBotanistById(idBotanist);
    botanist.value = response;
  } catch (error) {
    notifyUtil.notifyError('Aucun utilisateur trouvé');
    console.error('Error fetching botanist...');
  }
};

const getBotanistComments = async (idBotanist: number) => {
  try {
    const response = await commentService.getBotanistComments(idBotanist);
    comments.value = response;
  } catch (error) {
    notifyUtil.notifyError('Aucun commentaire trouvé');
    console.error('Error fetching comments...');
  }
};

//
//--------------- Manipulation initiale de la Table ---------------

const conditionalTruncation = (text: string) => {
  if (text.length > 25) {
    return text.substring(0, 22) + '...';
  } else return text;
};

const formatDate = (initialDate: Date) => {
  const date = DateTime.fromISO(initialDate);
  return (
    date.day.toString().padStart(2, '0') +
    '/' +
    date.month.toString().padStart(2, '0') +
    '/' +
    date.year
  );
};

const rows = comments;
console.log('rows : ', rows);
const filter = ref('');
const selected = ref([]);
const confirm = ref(false);

//
//--------------- Manipulation de la Table ---------------

const eraseSelected = () => {
  selected.value.forEach(async (selectedItem: CommentInterface) => {
    try {
      await commentService.deleteComment(selectedItem.id);
      console.log(`comment (id: ${selectedItem.id}) successfully deleted`);
    } catch (error) {
      console.error('Error deleting comment...');
    }
  });

  selected.value = [];
  getBotanistComments(idBotanist);
};

//
//--------------- Autres Actions ---------------

const banBotanist = async (botanist: BotanistInterface) => {
  dialogUtil
    .createConfirmationDialog(`Voulez-vous bannir ${botanist.pseudo}?`)
    .onOk(async () => {
      try {
        await botanistService.banBotanist(botanist.id);
        notifyUtil.notifySuccess(`Botaniste ${botanist.pseudo} banni `);
        redirectToBotanistsPage();
      } catch (error) {
        notifyUtil.notifyError(
          `Erreur, botaniste ${botanist.pseudo} non banni`
        );
        console.error('Error:', error);
      }
    });
};

//
//--------------- Initialisation de la Table ---------------

const columns: QTable['columns'] = [
  { name: 'id', label: 'ID', required: true, field: 'id' },
  {
    name: 'postId',
    label: 'ID Annonce',
    required: true,
    field: 'postId',
  },
  {
    name: 'dateComment',
    label: 'Date',
    required: true,
    field: (row) => formatDate(row.dateComment),
  },
  {
    name: 'postTitle',
    label: 'Titre Annonce',
    align: 'center',
    required: true,
    field: 'postTitle',
  },
  {
    name: 'content',
    label: 'Commentaire',
    align: 'center',
    required: true,
    field: 'content',
  },
];
</script>
