<template>
  <q-page>
    <div v-if="comment && botanist" class="q-pa-md">
      <q-card class="my-card">
        <q-card-section>
          <div class="text-h6 q-mb-lg">Details du commentaire</div>
          <div class="row items-center justify-between">
            <div class="col-5 col-sm-4 col-md-3 text-body1 items-center">
              Auteur :
              <span class="q-pl-md" @click="goToBotanist(botanist.id)">
                <q-btn class="q-px-sm" icon="person" /><b class="q-px-sm">{{
                  botanist.pseudo
                }}</b>
              </span>
            </div>
            <div class="col-5 col-sm-8 col-md-9 q-py-md items-center">
              <q-btn
                color="secondary"
                label="Supprimer"
                icon="delete"
                @click="deleteComment(comment.id, botanist)"
                class="float-right"
              />
            </div>
          </div>
          <q-form @submit="submitForm">
            <q-input
              v-model="comment.id"
              label="ID"
              outlined
              filled
              class="q-mt-md"
              disable
            />
            <q-input
              v-model="comment.postId"
              label="ID Annonce"
              outlined
              filled
              class="q-mt-md"
              disable
            />

            <q-input
              v-model="formattedDate"
              label="Date"
              outlined
              filled
              class="q-mt-md"
              disable
            />

            <div class="q-mt-xl q-mb-lg">
              <q-input
                v-model="comment.postTitle"
                label="Titre"
                outlined
                filled
                class="q-mb-sm"
                disable
              />

              <q-input
                v-model="comment.content"
                label="Commentaire"
                :rules="[contentCheckValidity]"
                outlined
                autogrow
                class="q-mb-sm"
              />
            </div>

            <q-btn
              type="submit"
              label="Enregistrer"
              color="primary"
              text-color="white"
            />
          </q-form>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { ref, onMounted, computed } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import commentService from '../../services/commentService';
import { CommentInterface } from '../../interfaces/commentInterface';
import botanistService from '../../services/botanistService';
import { BotanistInterface } from '../../interfaces/botanistInterface';
import notifyUtil from '../../utils/notifyUtil';
import dialogUtil from '../../utils/dialogUtil';
import { DateTime } from 'luxon';

const router = useRouter();
const route = useRoute();
const idComment = Number(route.params.commentId);

const goToBotanist = (idBotanist: number) => {
  router.push({
    name: 'BotanistEdit',
    params: { id: idBotanist },
  });
};

const goToBotanistComments = (idBotanist: number) => {
  router.push({
    name: 'BotanistComments',
    params: { id: idBotanist },
  });
};

const formatDate = (initialDate: Date) => {
  const date = DateTime.fromISO(initialDate);
  console.log(date);
  const dateFormat =
    date.day.toString().padStart(2, '0') +
    '/' +
    date.month.toString().padStart(2, '0') +
    '/' +
    date.year;
  return dateFormat.toString();
};

const formattedDate = computed(() => {
  if (comment.value) return formatDate(comment.value.dateComment);
  else return 'n/a';
});

const comment = ref<CommentInterface>();
const botanist = ref<BotanistInterface>();

onMounted(() => {
  getCommentById(idComment);
});

const getCommentById = async (idComment: number) => {
  try {
    const response = await commentService.getCommentById(idComment);
    comment.value = response;
    getBotanistById(comment.value?.creatorId);
  } catch (error) {
    notifyUtil.notifyError('Erreur, aucun commentaire trouvé');
  }
};

const getBotanistById = async (idBotanist: number) => {
  try {
    const response = await botanistService.getBotanistById(idBotanist);
    botanist.value = response;
  } catch (error) {
    notifyUtil.notifyError('Aucun utilisateur trouvé');
  }
};

const contentCheckValidity = (content: string) => {
  return (
    (content.length > 0 && content.length <= 500) ||
    'Commentaire doit etre compris entre 1 et 500 caracteres'
  );
};

const submitForm = async () => {
  const updatedData = {
    content: comment.value?.content,
  };
  try {
    await commentService.editComment(idComment, updatedData);
    notifyUtil.notifySuccess(`Publication ${idComment} modifiee avec succes`);
  } catch (error) {
    notifyUtil.notifyError(`Erreur, publication ${idComment} non modifiee`);
  }
};

const deleteComment = async (
  idComment: number,
  botanist: BotanistInterface
) => {
  dialogUtil
    .createConfirmationDialog(
      'Voulez-vous vraiment supprimer cette publication?'
    )
    .onOk(async () => {
      try {
        await commentService.deleteComment(idComment);
        notifyUtil.notifySuccess(
          `Publication (id: ${idComment}) supprimee avec succes`
        );
        goToBotanistComments(botanist.id);
      } catch (error) {
        notifyUtil.notifyError(
          `Erreur, publication (id: ${idComment}) non supprimee`
        );
      }
    });
};
</script>
