<template>
  <div class="q-pa-md q-gutter-md row justify-center">
    <q-page style="width: 400px">
      <q-card class="q-pa-md">
        <q-card-section>
          <div class="text-h6">Connexion</div>
        </q-card-section>
        <q-card-section>
          <q-form @submit="login">
            <q-input
              test-id="input-email"
              v-model="email"
              label="Email"
              type="email"
              outlined
              dense
              clearable
              :rules="[
                (val) =>
                  (val && val.length > 0) || 'Veuillez renseigner votre email',
              ]"
            />

            <q-input
              test-id="input-password"
              v-model="password"
              label="Mot de passe"
              type="password"
              outlined
              dense
              clearable
              :rules="[
                (val) =>
                  (val && val.length > 0) ||
                  'Veuillez renseigner votre mot de passe',
              ]"
            />

            <q-btn
              test-id="button-submit-login"
              type="submit"
              label="Se connecter"
              color="primary"
              class="q-mt-md"
            />
          </q-form>
        </q-card-section>
      </q-card>
    </q-page>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { AuthService } from '../../services/authService';
import notifyUtil from '../../utils/notifyUtil';
import { useRouter } from 'vue-router';

const router = useRouter();
const email = ref('');
const password = ref('');

// const login = () => {
//   // Gérez la logique de connexion ici
//   console.log('Login clicked');
// };

const login = async () => {
  // console.log('test');
  // const token = 'testToken';

  // Cookies.set('token', token, { expires: 7 });

  try {
    await AuthService.login(email.value, password.value);
    router.replace({
      name: 'Users',
    });
    notifyUtil.notifySuccess('Bonjour, vous êtes connecté 🧑‍💻');
  } catch (error) {
    notifyUtil.notifyError('Aie, essaies encore...');
    console.error('Error:', error);
  }
};
</script>
