<template>
  <q-page>
    <div v-if="post && user" class="q-pa-md">
      <q-card class="my-card">
        <q-card-section>
          <div class="text-h6 q-mb-lg">Details de la publication</div>
          <div class="row items-center justify-between">
            <div class="col-5 col-sm-4 col-md-3 text-body1 items-center">
              Auteur :
              <span class="q-pl-md" @click="goToUser(user.id)">
                <q-btn class="q-px-sm" icon="person" /><b class="q-px-sm">{{
                  user.pseudo
                }}</b>
              </span>
            </div>
            <div class="col-5 col-sm-8 col-md-9 q-py-md items-center">
              <q-btn
                color="secondary"
                label="Supprimer"
                icon="delete"
                @click="deletePost(post.id, user)"
                class="float-right"
              />
            </div>
          </div>
          <q-form @submit="submitForm">
            <q-input
              v-model="post.id"
              label="ID"
              outlined
              filled
              class="q-mt-md"
              disable
            />
            <q-input
              v-model="formattedStartDate"
              label="Debut"
              outlined
              filled
              class="q-mt-md"
              disable
            />

            <q-input
              v-model="formattedEndDate"
              label="Fin"
              outlined
              filled
              class="q-mt-md"
              disable
            />

            <div class="q-mt-xl q-mb-lg">
              <q-input
                v-model="post.title"
                label="Titre"
                :rules="[titleCheckValidity]"
                outlined
                autogrow
                class="q-mb-sm"
              />

              <q-input
                v-model="post.description"
                label="Description"
                :rules="[descrCheckValidity]"
                outlined
                autogrow
                class="q-mb-sm"
              />
            </div>

            <q-btn
              type="submit"
              label="Enregistrer"
              color="primary"
              text-color="white"
            />
          </q-form>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { ref, onMounted, computed } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import postService from '../../services/postService';
import { PostInterface } from '../../interfaces/postInterface';
import userService from '../../services/userService';
import { UserInterface } from '../../interfaces/userInterface';
import notifyUtil from '../../utils/notifyUtil';
import dialogUtil from '../../utils/dialogUtil';
import { DateTime } from 'luxon';

const router = useRouter();
const route = useRoute();
const idPost = Number(route.params.postId);

const goToUser = (idUser: number) => {
  router.push({
    name: 'UserEdit',
    params: { id: idUser },
  });
};

const goToUserPosts = (idUser: number) => {
  router.push({
    name: 'UserPosts',
    params: { id: idUser },
  });
};

const post = ref<PostInterface>();
const user = ref<UserInterface>();

onMounted(() => {
  getPostById(idPost);
});

const getPostById = async (idPost: number) => {
  try {
    const response = await postService.getPostById(idPost);
    post.value = response;
    getUserById(post.value?.creatorId);
  } catch (error) {
    notifyUtil.notifyError('Erreur, aucune demande trouvée');
  }
};

const getUserById = async (idUser: number) => {
  try {
    const response = await userService.getUserById(idUser);
    user.value = response;
  } catch (error) {
    notifyUtil.notifyError('Aucun utilisateur trouvé');
  }
};

const formatDate = (initialDate: Date) => {
  const date = DateTime.fromISO(initialDate);
  console.log(date);
  const dateFormat =
    date.day.toString().padStart(2, '0') +
    '/' +
    date.month.toString().padStart(2, '0') +
    '/' +
    date.year;
  return dateFormat.toString();
};

const formattedEndDate = computed(() => {
  if (post.value) return formatDate(post.value.endingDate);
  else return 'n/a';
});
const formattedStartDate = computed(() => {
  if (post.value) return formatDate(post.value.startingDate);
  else return 'n/a';
});

const titleCheckValidity = (title: string) => {
  return (
    (title.length > 0 && title.length <= 100) ||
    'Titre doit etre compris entre 1 et 100 caracteres'
  );
};

const descrCheckValidity = (description: string) => {
  return (
    (description.length > 0 && description.length <= 500) ||
    'Texte doit etre compris entre 1 et 500 caracteres'
  );
};

const submitForm = async () => {
  const updatedData = {
    title: post.value?.title,
    description: post.value?.description,
  };
  try {
    await postService.editPost(idPost, updatedData);
    notifyUtil.notifySuccess(`Publication ${idPost} modifiee avec succes`);
  } catch (error) {
    notifyUtil.notifyError(`Erreur, publication ${idPost} non modifiee`);
  }
};

const deletePost = async (idPost: number, user: UserInterface) => {
  dialogUtil
    .createConfirmationDialog(
      'Voulez-vous vraiment supprimer cette publication?'
    )
    .onOk(async () => {
      try {
        await postService.deletePost(idPost);
        notifyUtil.notifySuccess(
          `Publication (id: ${idPost}) supprimee avec succes`
        );
        goToUserPosts(user.id);
      } catch (error) {
        notifyUtil.notifyError(
          `Erreur, publication (id: ${idPost}) non supprimee`
        );
      }
    });
};
</script>
