<template>
  <div class="q-pa-md">
    <q-table
      title="Utilisateurs"
      :rows="users"
      :columns="columns"
      row-key="id"
      :filter="filter"
    >
      <template v-slot:top-right>
        <q-input
          borderless
          dense
          debounce="300"
          v-model="filter"
          placeholder="Rechercher"
          class="input-search"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <!-- _______________ Photo __________________-->
      <template v-slot:body-cell-photo="props">
        <q-td :props="props">
          <img
            v-if="props.row.profilePicture"
            :src="props.row.profilePicture"
            alt="Photo"
            style="width: 30px; height: 30px; border-radius: 50%"
          />
          <img
            v-else
            src="~/src/assets/user.png"
            alt="Photo"
            style="width: 30px; height: 30px; border-radius: 50%"
          />
        </q-td>
      </template>

      <!-- _______________ ACTION __________________-->
      <template v-slot:body-cell-action="props">
        <q-td :props="props">
          <!-- edit -->
          <q-btn
            round
            flat
            color="secondary"
            icon="edit"
            @click="goToUserEdit(props.row.id)"
          >
            <q-tooltip anchor="top middle" self="center middle">
              Editer
            </q-tooltip>
          </q-btn>
          <!-- publications -->
          <q-btn
            round
            flat
            color="secondary"
            icon="chat"
            @click="goToUserPosts(props.row.id)"
            class="publications-btn"
          >
            <q-tooltip
              class="publications-tooltip"
              anchor="top middle"
              self="center middle"
            >
              Voir publications
            </q-tooltip>
          </q-btn>
          <!-- ban -->
          <q-btn
            flat
            round
            color="secondary"
            icon="person_off"
            @click="banUser(props.row)"
            class="ban-btn"
          >
            <q-tooltip
              class="ban-tooltip"
              anchor="top middle"
              self="center middle"
            >
              Bannir utilisateur
            </q-tooltip>
          </q-btn>
          <!-- delete -->
          <q-btn
            flat
            round
            color="secondary"
            icon="delete_forever"
            @click="deleteUser(props.row)"
            class="delete-btn"
          >
            <q-tooltip
              class="delete-tooltip"
              anchor="top middle"
              self="center middle"
            >
              Supprimer utilisateur
            </q-tooltip>
          </q-btn>
        </q-td>
      </template>
    </q-table>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { QTable } from 'quasar';
import { UserInterface } from 'src/interfaces/userInterface';
import userService from '../../services/userService';
import notifyUtil from '../../utils/notifyUtil';
import dialogUtil from '../../utils/dialogUtil';

const router = useRouter();
const users = ref<UserInterface[]>([]);
const filter = ref('');
const columns: QTable['columns'] = [
  {
    name: 'id',
    label: 'Id',
    field: 'id',
    required: true,
    align: 'left',
    sortable: true,
  },
  {
    name: 'pseudo',
    label: 'Pseudo',
    field: 'pseudo',
    required: true,
    align: 'left',
    sortable: true,
  },
  {
    name: 'email',
    label: 'Email',
    field: 'email',
    required: true,
    align: 'left',
    sortable: true,
  },
  {
    name: 'photo',
    label: 'Photo',
    field: 'photo',
    required: true,
    align: 'center',
    sortable: false,
  },
  {
    name: 'action',
    label: 'Action',
    field: 'action',
    required: true,
    align: 'center',
    sortable: false,
  },
];

// __________________ API _______________________

const getUsers = async () => {
  const response = await userService.getUsers();
  users.value = response;
};

getUsers();

const deleteUser = async (user: UserInterface) => {
  dialogUtil
    .createConfirmationDialog(`Voulez-vous supprimer ${user.pseudo}?`)
    .onOk(async () => {
      try {
        await userService.deleteUser(user.id);
        notifyUtil.notifySuccess(`user ${user.id} supprimé `);
      } catch (error) {
        notifyUtil.notifyError(`Erreur, utilisateur ${user.id} non supprimé`);
        console.error('Error:', error);
      }
      getUsers();
    });
};

const banUser = async (user: UserInterface) => {
  dialogUtil
    .createConfirmationDialog(`Voulez-vous supprimer ${user.pseudo}?`)
    .onOk(async () => {
      try {
        await userService.banUser(user.id);
        notifyUtil.notifySuccess(`Utilisateur ${user.pseudo} banni `);
      } catch (error) {
        notifyUtil.notifyError(`Erreur, Utilisateur ${user.pseudo} non banni`);
        console.error('Error:', error);
      }
      getUsers();
    });
};

// __________________ Navigation _______________________

const goToUserEdit = (idUser: number) => {
  router.push({
    name: 'UserEdit',
    params: { id: idUser },
  });
};

function goToUserPosts(idUser: number) {
  router.push({
    name: 'UserPosts',
    params: { id: idUser },
  });
}
</script>
