<template>
  <q-page padding>
    <div v-if="noErrorLoading">
      <div class="q-px-lg">
        <h5>Publications Utilisateur</h5>
        <div class="row items-center justify-between">
          <div
            class="col-9 col-sm-4 col-md-3 text-body1 items-center"
            @click="redirectToUserPage(idUser)"
          >
            <q-avatar>
              <img
                v-if="userProfilePic"
                :src="userProfilePic"
                alt="User Avatar"
              />
              <img v-else src="~/src/assets/user.png" alt="User Avatar" />
            </q-avatar>
            <b v-if="userPseudo" class="q-px-md">{{ userPseudo }}</b>
            <b v-else class="q-px-md">Utilisateur</b>
          </div>
          <div class="col-3 col-sm-8 col-md-9 q-py-md">
            <q-btn color="secondary" label="Bannir" @click="banUser()" />
          </div>
        </div>

        <div class="q-pa-md">
          <q-table
            title="Publications"
            :rows="filteredPosts"
            :columns="columns"
            row-key="id"
            selection="multiple"
            v-model:selected="selected"
            :filter="filter"
            grid
            hide-header
            class="q-table"
          >
            <template v-slot:top>
              <div class="col-2 q-table__title">Vue d'Ensemble</div>

              <q-space />

              <div class="col">
                <q-toggle
                  class="active-inactive-toggle"
                  :label="activeInactiveToggle"
                  v-model="showExpired"
                />
              </div>
              <div top right>
                <q-input
                  borderless
                  dense
                  debounce="300"
                  v-model="filter"
                  placeholder="Recherche"
                >
                  <div class="search-icon" append>
                    <q-icon name="search" size="sm" />
                  </div>
                </q-input>
              </div>
            </template>

            <template v-slot:item="props">
              <div
                class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
                :style="props.selected ? 'transform: scale(0.95);' : ''"
              >
                <q-card
                  bordered
                  flat
                  :class="
                    props.selected
                      ? $q.dark.isActive
                        ? 'bg-grey-9'
                        : 'bg-grey-2'
                      : ''
                  "
                  ><q-card-section class="q-pb-none">
                    <q-btn
                      icon="edit"
                      @click="redirectToEditPage(idUser, props.row.id)"
                    />
                  </q-card-section>
                  <q-card-section>
                    <q-checkbox
                      dense
                      v-model="props.selected"
                      :label="conditionalTruncation(props.row.title)"
                    />
                  </q-card-section>
                  <q-separator />
                  <q-list dense class="q-py-md">
                    <q-item v-for="col in props.cols" :key="col.id">
                      <template
                        v-if="col.label !== 'Texte' && col.label !== 'Titre'"
                      >
                        <q-item-section>
                          <q-item-label>{{ col.label }}</q-item-label>
                        </q-item-section>
                        <q-item-section side>
                          <q-item-label caption :class="['value-' + col.name]">
                            {{ col.value }}
                          </q-item-label>
                        </q-item-section>
                      </template>
                      <template v-else>
                        <q-item-section class="q-pt-md">
                          <q-item-label>{{ col.label }}</q-item-label>
                          <q-item-label
                            caption
                            :class="[
                              'q-py-sm',
                              'contain-long-text',
                              'value-' + col.name,
                            ]"
                            >{{ col.value }}</q-item-label
                          >
                        </q-item-section></template
                      >
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-table>

          <div class="q-mt-md row">
            <q-btn
              label="Deselectionner"
              @click="selected = []"
              :disable="selected.length === 0"
              class="q-mr-lg"
            />

            <q-btn
              label="Supprimer Tous"
              color="secondary"
              icon="delete"
              @click="confirm = true"
              :disable="selected.length === 0"
            />
          </div>
        </div>
      </div>

      <q-dialog v-model="confirm" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <q-avatar icon="warning" color="secondary" text-color="white" />
            <span class="q-ml-sm">
              Etes-vous sur de vouloir supprimer les annonces selectionnees?
              <br />
              Cette action est irreversible.</span
            >
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Annuler" v-close-popup />
            <q-btn
              flat
              label="Supprimer"
              color="secondary"
              @click="eraseSelected"
              v-close-popup
              icon="delete"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<!------------------------------------------------>
<!------------------------------------------------>
<!------------ STYLES SUPPLEMENTAIRES ------------>
<!------------------------------------------------>

<style lang="sass">

.grid-style-transition
  transition: transform .28s, background-color .28s

.search-icon
  display: flex
  justify-content: center
  align-items: center

.contain-long-text
  word-break: break-word
</style>

<!------------------------------------------------>
<!------------------------------------------------>
<!------------------- SCRIPTS -------------------->
<!------------------------------------------------>

<script setup lang="ts">
import { ref, onMounted, computed, ComputedRef } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import notifyUtil from '../../utils/notifyUtil';
import dialogUtil from '../../utils/dialogUtil';
import { QTable } from 'quasar';
import { DateTime } from 'luxon';

//
//--------------- Services et Interfaces ---------------

import userService from '../../services/userService';

import postService from '../../services/postService';
import { PostInterface } from '../../interfaces/postInterface';

//
//--------------- Initialisation des Routes ---------------

const router = useRouter();
const route = useRoute();

function redirectToEditPage(idUser: number, idPost: number) {
  router.push({
    name: 'EditPost',
    params: { id: idUser, postId: idPost },
  });
}

function redirectToUsersPage() {
  router.replace({
    name: 'Users',
  });
}

function redirectToUserPage(idUser: number) {
  router.push({
    name: 'UserEdit',
    params: { id: idUser },
  });
}

//
//--------------- Recuperation Utilisateur et ses Annonces ---------------

const idUser = Number(route.params.id);

onMounted(() => {
  getUserPosts(idUser);
});

const posts = ref<PostInterface[]>([]);
const noErrorLoading = ref<boolean>;
let userPseudo: ComputedRef<string> | undefined;
let userProfilePic: ComputedRef<string> | undefined;

const getUserPosts = async (idUser: number) => {
  try {
    const response = await userService.getUserById(idUser);
    userPseudo = computed(() => response.pseudo);
    userProfilePic = computed(() => response.profilePicture);

    const response2 = await postService.getUserPosts(idUser);
    posts.value = response2;
    const noErrorLoading = true;

    return noErrorLoading;
  } catch (error) {
    notifyUtil.notifyError('Erreur lors de la récupération des annonces');
    console.error();
    const noErrorLoading = false;
    return noErrorLoading;
  }
};

//
//--------------- Manipulation initiale de la Table ---------------

const isFutureDate = (dateCompared: Date) => {
  const currentDate = DateTime.now().setZone('Europe/Paris');
  const date = DateTime.fromISO(dateCompared);

  if (currentDate.startOf('day') <= date.startOf('day')) return true;
  else return false;
};

const determinePostStatus = (post: PostInterface) => {
  if (post.status === true) return 'réservée';
  else return 'publique';
};

const formatDate = (initialDate: Date) => {
  const date = DateTime.fromISO(initialDate);
  console.log(date);
  return (
    date.day.toString().padStart(2, '0') +
    '/' +
    date.month.toString().padStart(2, '0') +
    '/' +
    date.year
  );
};

const conditionalTruncation = (text: string) => {
  if (text.length > 25) {
    return text.substring(0, 22) + '...';
  } else return text;
};

const filter = ref('');
const selected = ref([]);
const confirm = ref(false);

let showExpired = ref(true);
const rows = posts;

const filteredPosts = computed(() => {
  if (showExpired.value) {
    return rows.value.filter((row) => isFutureDate(row.endingDate));
  } else {
    return rows.value.filter((row) => !isFutureDate(row.endingDate));
  }
});

const activeInactiveToggle = computed(() => {
  if (showExpired.value) {
    return 'En cours';
  } else {
    return 'Passées';
  }
});

//
//--------------- Manipulation de la Table ---------------

const eraseSelected = () => {
  selected.value.forEach(async (selectedItem: PostInterface) => {
    try {
      await postService.deletePost(selectedItem.id);
      console.log(`Post (id: ${selectedItem.id}) successfully deleted`);
    } catch (error) {
      console.error('Error deleting post...');
    }
  });

  selected.value = [];
  getUserPosts(idUser);
};

//
//--------------- Autres Actions ---------------

const banUser = async () => {
  dialogUtil
    .createConfirmationDialog(
      `Voulez-vous bannir ${userPseudo ? userPseudo.value : "l'utilisateur ?"}?`
    )
    .onOk(async () => {
      try {
        await userService.banUser(idUser);
        notifyUtil.notifySuccess(
          `Utilisateur ${userPseudo ? userPseudo.value : ''} banni `
        );
        redirectToUsersPage();
      } catch (error) {
        notifyUtil.notifyError(
          `Erreur, utilisateur ${userPseudo ? userPseudo?.value : ''} non banni`
        );
        console.error('Error:', error);
      }
    });
};

//
//--------------- Initialisation de la Table ---------------

const columns: QTable['columns'] = [
  { name: 'id', label: 'ID', required: true, field: 'id' },
  {
    name: 'startingDate',
    label: 'Début',
    required: true,
    field: (row) => formatDate(row.startingDate),
  },
  {
    name: 'endingDate',
    label: 'Fin',
    required: true,
    field: (row) => formatDate(row.endingDate),
  },
  {
    name: 'status',
    label: 'Statut',
    required: true,
    field: determinePostStatus,
  },
  {
    name: 'title',
    align: 'center',
    label: 'Titre',
    required: true,
    field: 'title',
  },
  {
    name: 'description',
    label: 'Texte',
    required: true,
    field: 'description',
  },
];
</script>
