<template>
  <div v-if="user" class="q-pa-md">
    <q-card class="my-card">
      <q-card-section>
        <div class="text-h6 q-mb-lg">Details de l'utilisateur</div>
        <div class="row justify-start items-center q-mb-lg">
          <!-- _______________ Photo __________________-->
          <div class="relative-position col-auto">
            <q-img
              v-if="user.profilePicture"
              :src="user.profilePicture"
              alt="user Photo"
              style="width: 100px; height: 100px; border-radius: 50%"
            />
            <img
              v-else
              src="~/src/assets/user.png"
              alt="Photo"
              style="width: 100px; height: 100px; border-radius: 50%"
            />
            <q-btn
              round
              icon="delete"
              color="secondary"
              @click="deletePhoto(user)"
              class="absolute absolute-top-left"
              :style="{ left: '-10px', top: '-10px' }"
              flat
            >
              <q-tooltip anchor="top middle" self="center middle">
                Supprimer photo de profil
              </q-tooltip>
            </q-btn>
          </div>
          <!-- _______________ Comments __________________-->
          <div class="col-auto q-ma-xs">
            <q-btn
              round
              flat
              color="secondary"
              icon="chat"
              @click="goToUserPosts(user.id)"
            >
              <q-tooltip anchor="top middle" self="center middle">
                Voir publications
              </q-tooltip>
            </q-btn>
          </div>
          <!-- _______________ Ban __________________-->
          <div class="col-auto q-ma-xs">
            <q-btn
              flat
              round
              color="secondary"
              icon="person_off"
              @click="banUser(user)"
            >
              <q-tooltip anchor="top middle" self="center middle">
                Bannir utilisateur
              </q-tooltip>
            </q-btn>
          </div>
          <!-- _______________ Delete __________________-->
          <div class="col-auto q-ma-xs">
            <q-btn
              flat
              round
              color="secondary"
              icon="delete_forever"
              @click="deleteUser(user)"
            >
              <q-tooltip anchor="top middle" self="center middle">
                Supprimer utilisateur
              </q-tooltip>
            </q-btn>
          </div>
        </div>

        <!-- _______________ Form __________________-->

        <q-form @submit="submitForm">
          <q-input
            disable
            v-model="user.id"
            label="Id"
            outlined
            class="q-mb-md"
          />
          <q-input
            disable
            v-model="user.pseudo"
            label="Pseudo"
            outlined
            class="q-mb-md"
          />
          <q-input
            disable
            v-model="user.email"
            label="Email"
            outlined
            class="q-mb-md"
          />

          <q-btn v-show="false" type="submit" label="Enregistrer" color="" />
        </q-form>
      </q-card-section>
    </q-card>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { UserInterface } from '../../interfaces/userInterface';
import userService from '../../services/userService';
import notifyUtil from '../../utils/notifyUtil';
import dialogUtil from '../../utils/dialogUtil';

const user = ref<UserInterface>();
const router = useRouter();
const route = useRoute();
const idUser = Number(route.params.id);

function redirectToUsersPage() {
  router.replace({
    name: 'Users',
  });
}

const getUserById = async (idUser: number) => {
  try {
    console.log('response');
    const response = await userService.getUserById(idUser);
    console.log(response);
    user.value = response;
    console.log(user);
  } catch (error) {
    notifyUtil.notifyError('Aucun utilisateur trouvé');
    console.error('Error:', error);
  }
};

getUserById(idUser);

const deletePhoto = async (user: UserInterface) => {
  dialogUtil
    .createConfirmationDialog(
      `Voulez-vous supprimer la photo de ${user.pseudo}?`
    )
    .onOk(async () => {
      try {
        await userService.deletePhoto(user.id);
        notifyUtil.notifySuccess(`Photo utilisateur ${user.pseudo} supprimé `);
      } catch (error) {
        notifyUtil.notifyError(
          `Erreur, Photo utilisateur ${user.pseudo} non supprimé`
        );
        console.error('Error:', error);
      }
      getUserById(user.id);
    });
};

const banUser = async (user: UserInterface) => {
  dialogUtil
    .createConfirmationDialog(`Voulez-vous bannir ${user.pseudo}?`)
    .onOk(async () => {
      try {
        await userService.banUser(user.id);
        notifyUtil.notifySuccess(`Photo utilisateur ${user.pseudo} supprimé `);
        redirectToUsersPage();
      } catch (error) {
        notifyUtil.notifyError(`Erreur, utilisateur ${user.pseudo} non banni`);
        console.error('Error:', error);
      }
    });
};

const deleteUser = async (user: UserInterface) => {
  dialogUtil
    .createConfirmationDialog(`Voulez-vous supprimer ${user.pseudo}?`)
    .onOk(async () => {
      try {
        await userService.deleteUser(user.id);
        notifyUtil.notifySuccess(`utilisateur ${user.pseudo} supprimé `);
        redirectToUsersPage();
      } catch (error) {
        notifyUtil.notifyError(
          `Erreur, utilisateur ${user.pseudo} non supprimé`
        );
        console.error('Error:', error);
      }
    });
};

const submitForm = () => {
  // Logique pour soumettre le formulaire
};

// __________________ Navigation _______________________

function goToUserPosts(idUser: number) {
  router.push({
    name: 'UserPosts',
    params: { id: idUser },
  });
}
</script>
