<template>
  <q-list @click="goToPage" clickable>
    <q-item clickable>
      <q-item-section v-if="icon" avatar>
        <q-icon :name="icon" />
      </q-item-section>

      <q-item-section>
        <q-item-label>{{ title }}</q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'EssentialLink',
  props: {
    title: {
      type: String,
      required: true,
    },

    caption: {
      type: String,
      default: '',
    },

    link: {
      type: String,
      default: '',
    },

    icon: {
      type: String,
      default: '',
    },
  },
  methods: {
    goToPage() {
      this.$router.replace({ name: this.link });
    },
  },
});
</script>
<style scoped>
.custom-router-link {
  text-decoration: none;
  color: inherit;
}
</style>
