<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
          id="btn-toolbar"
        />
        <q-toolbar-title>AROSAJE</q-toolbar-title>
        <q-btn
          flat
          dense
          round
          icon="logout"
          aria-label="Se déconnecter"
          @click="logout"
          id="btn-logout"
          test-id="btn-logout"
        />
      </q-toolbar>
    </q-header>

    <q-drawer id="drawer-menu" v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <q-item-label header> Menu </q-item-label>

        <EssentialLink
          v-for="link in linksList"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import EssentialLink from 'components/EssentialLink.vue';
import AuthService from '../services/authService';
import notifyUtil from 'src/utils/notifyUtil';
import { useRouter } from 'vue-router';

const router = useRouter();

const linksList = [
  {
    title: 'Utilisateurs',
    icon: 'group',
    link: 'Users',
  },
  {
    title: 'Botanistes',
    icon: 'group',
    link: 'Botanists',
  },
];

const leftDrawerOpen = ref(false);

const toggleLeftDrawer = () => {
  leftDrawerOpen.value = !leftDrawerOpen.value;
};

const logout = async () => {
  try {
    AuthService.logout();
    router.replace({
      name: 'login',
    });
    notifyUtil.notifySuccess('Vous êtes déconnecté 👋');
  } catch (error) {
    notifyUtil.notifyError('Aie, essaies encore');
    console.error('Error:', error);
  }
};
</script>
s
